# hidev internals
/.hidev/composer.json
/.hidev/composer.lock
/.hidev/runtime
/.hidev/vendor

# local config
/.env
/hidev-local.yml

# IDE & OS files
.*.swp
.DS_Store
.buildpath
.idea
.project
.settings
Thumbs.db
nbproject

# Admin directories
/public/admin/assets/*
runtime/admin/*

# site directories
/public/site/assets/*
runtime/frontend/*
runtime/site/*

# Console directories
runtime/console/*
runtime/logs/cron*

# Binaries
composer.phar
vendor

# endev
.ext
